[2017-12-22 15:27] crendon8 opened #1 "TypeError: 'dict_keys' in yahoofinancials/__init__.py line 470 for python 3.x"
I followed the instructions from a similar issue found on stackoverflow: https://stackoverflow.com/questions/17322668/typeerror-dict-keys-object-does-not-support-indexing

and applied the same logic to line 470. I replaced:
date_key = re_data[self.ticker][0].keys()[0]

with:
date_key = list(re_data[self.ticker][0])[0]

and works for me.
-Carlos

[2018-03-06 03:35] JECSand commented on #1
Thanks for sharing that. I'll go ahead and make a minor fix for that.

[2018-03-06 04:36] #1 closed

[2018-03-06 04:36] JECSand commented on #1
Issue Fixed with v0.5 release.

[2018-04-15 00:35] naveenkumarnair opened #2 "Read the Json return from all_statement_data_qt = yahoo_financials.get_financial_stmts"
Wanted to check if you have already defined the module that reads the Json output from get_financial_stmts and segregates the data for Balance Sheet, Income Cashflow statements already?

[2018-05-03 16:50] JECSand commented on #2
Hi Naveen!

I have not finished this feature yet. I have noted your feature request and have no problem adding it soon.
I am in the middle of a big sprint right now for my day job. I could probably get to this myself within two weeks.

Also if you want to become a contributer for the project, I'd love to bring you on (or anyone else qualified). That way you can get to this sooner than I could if n

[2018-05-03 16:50] #2 closed

[2018-05-03 16:52] JECSand commented on #2
Closing issue. Release to address this feature request scheduled for May 17th, 2018 or sooner.

[2018-07-19 01:13] johannesbambang opened #3 "An Error occurred when using the Yahoo Financials V0.4"
I receive an error  when I was using Yahoo Financials V0.4. File "C:\ProgramData\Anaconda3\lib\site-packages\yahoofinancials_init_.py", line 93, in format_date split_date = in_date.split('-') AttributeError: 'datetime.date' object has no attribute 'split'

For further details please see https://stackoverflow.com/questions/51367447/valueerror-timestamp-out-of-range-for-platform-localtime-gmtime-fun

[2018-07-19 05:40] JECSand commented on #3
Hi Johannes,
I just released version 0.6 of the module. In it I addressed your time stamp error (a) and your error from trying to get historical stock price data for ^FTSE (b).

a. For the time-stamp error, I re-factored the format_date method to properly handle unix datetime values older than 1/1/1970. I also added a check to ensure the method returned only a date, not a datetime value. Please le

[2018-07-19 05:40] #3 closed

[2018-07-21 00:12] trevorwelch opened #4 "KeyError: 'QuoteSummaryStore'"
First of all, thanks so much for your work creating `yahoofinancials`!

So, I just started getting this error tonight:

[code]

Thanks for any ideas of how it might be fixed!

[2018-07-21 00:17] trevorwelch commented on #4
Figured it out -- this appears to be the error that is thrown when you feed an invalid ticker (in my case, I was mistakenly passing a tuple).

[2018-07-21 00:17] #4 closed

[2018-07-25 14:03] trevorwelch opened #6 "SystemExit: 1"
[code]

I haven't seen this one before, any ideas? I'm right now trying to scrape the financial data (in a loop) for all NASDAQ and SP500 tickers, by the way.

[2018-07-25 14:03] trevorwelch opened #7 "SystemExit: 1"
[code]

I haven't seen this one before, any ideas? I'm right now trying to scrape the financial data (in a loop) for all NASDAQ and SP500 tickers, by the way.

[2018-07-25 14:04] trevorwelch commented on #7
Duplicate issue 🤦‍♂️

[2018-07-25 14:04] #7 closed

[2018-07-25 16:43] trevorwelch commented on #6
Full disclosure, I edited the sleep time on the scraper like so (in an effort to speed it up, it takes a very long time per ticker (~15-30 seconds)):

[code]

I just switched up back to 5 and will see if it throws the error again.

[2018-07-25 22:16] JECSand commented on #6
Trevor,

Thank you for submitting the bug you found! I am slammed right now at my day job, but I will try to take a deeper look into this in the next two days and follow up with you.

[2018-08-03 06:46] JECSand commented on #6
Trevorwelcome,

Version 0.7 contains a fix for this bug. Instead of the sys.exit(1) breaking your process, the function will just return None and an empty array will be passed back for that ticker. The error you came across is caused by certain tickers not having all of the fields expected for their run type in their raw data return.

Let me know if you are still getting that error in v0.7 and we

[2018-08-03 06:46] #6 closed

[2018-08-09 13:54] lyc2345 opened #8 "Consider to support currency rate?"
Hi, Nice library!
Is currency rates history supported in the future?

[2018-08-09 14:44] JECSand commented on #8
Thanks!

**I do want to add currency rate history to the module.** It's something that I have looked into. All of the currency pairs listed at this URL should be available eventually:
https://finance.yahoo.com/currencies

**The only hold up is that we need to find a way to scrap the data from Yahoo Finance's ChartIq interactive charts without a web driver** (spirit of the module is no web driver f

[2018-08-09 16:21] lyc2345 commented on #8
Very glad to hear that!
I will also do some research to scrap data from chart. But I am a newbie lol

[2018-08-09 20:27] JECSand commented on #8
That's fine! We all started as newbies. This is how you get better though.

To help you get started if you want to give it a shot:

**1) Fork the current YF v0.7 master branch and go to a Yahoo Finance web-page with a chart to find the hidden data in the web-page:**

    https://finance.yahoo.com/chart/%5EFTSE

    or

    https://finance.yahoo.com/quote/^FTSE/chart?p=^FTSE

     **Hardest part du

[2018-08-10 12:31] ForgeFin opened #9 ".get_stock_outstanding"
Hey JECSand,
could you also write a function to retrieve the number of shares outstanding? - or am I missing that it already exists? -
No. of shares is necessary for me to link the statement data to the price data .. I already tried to work around with EPS but this seems error-prone.

Btw. thanks for the help in stackoverflow ;-)

[2018-08-11 06:28] JECSand commented on #9
Hey there,

I just added a new function to the module called get_num_shares_outstanding() and released a new version of the module (v8.0). This new method calculates the current shares outstanding by dividing the current market cap by the current stock price. I was unable to find an easy way to calculate historical shares outstanding and I was unable to find a pre-calculated value directly from ya

[2018-08-11 06:28] #9 closed

[2018-08-12 02:02] lyc2345 commented on #8
Very useful tutorial! I can't wait to trying it out this weekend!
Appreciate!

[2018-08-13 17:14] JECSand commented on #8
Np!

Also I think I finally found a way to do all of this. I'll start building it out when I get home from work tonight.

[2018-08-14 08:33] JECSand commented on #8
Alright,

Version 0.9 of YF is now up on pip, and I have added the ability to pull historical pricing data for currencies, cryptocurrencies, and commodity futures.
Here are lists of all of the currencies, cryptos and futures you can now pull data for:
https://finance.yahoo.com/currencies
https://finance.yahoo.com/cryptocurrencies
https://finance.yahoo.com/commodities

v0.9 has also enhanced the hi

[2018-08-14 08:33] #8 closed

[2018-08-17 02:56] lyc2345 commented on #8
I try it out and work perfect!
Thanks a lot!

[2018-08-23 05:18] meteorologytoday opened #10 "Error occurs in get_net_income()"
This is the code (after delete unrelated lines) given in the "Single Ticker Example" of github frontpage.

### Code
[code]

### Output

  File "test.py", line 6, in <module>
    apple_net_income = yahoo_financials.get_net_income()
  File "/export/home/tienyiah/miniconda3/lib/python3.6/site-packages/yahoofinancials/__init__.py", line 700, in get_net_income
    return self._financial_statement_data(

[2018-08-24 00:02] JECSand commented on #10
Thank you for alerting me to this. I fixed this error and just released a 1.1 version containing the fix.

Thanks again and let me know if you come across anything else!

[2018-08-24 00:02] #10 closed

[2018-08-26 21:13] crendon8 opened #11 "AssertionError running test_yahoofinancials.py (line 93)"
test_historical_price line failed the assertDictEqual(single_stock_prices['C']['prices'][0], expect_dict)

single_stock_prices['C']['prices'][0] =  {date, high, low, open, close, volume, adjclose, formatted_date}

while....
expect_dict = {high, volume, formatted_date, low, adjclose, date, close, open}

[2018-08-27 17:39] JECSand commented on #11
Hi Crendon,

Thank you for reporting this issue.
I am looking into this issue now and will post a more detailed report within the next few days.

[2018-08-29 07:33] JECSand commented on #11
Hi Crendon,

The issue revolved around timezones. The date string wasn't being transformed into an UTC Unix timestamp, but a local timezone Unix timestamp in the format_date function. This caused different historical price data values to be returned depending on the environments timezone. This has been fixed with the new v1.2 release.

Let me know if you have anymore issues.

Thanks!

[2018-08-29 07:33] #11 closed

[2018-09-03 15:12] Iarwa1n opened #12 "terminated symbols do not work"
First of all, thanks for your great library.  But I ran into a problem today:

I wanted to download historical data for the ticker symbol VRX, which does not work.
This code belonged to Valeant Pharmaceuticals International, Inc.  which is now called Bausch Health Companies Inc. (VRX.SW). But the symbol VRX.SW does not give me historical data for the original company.
The data is still there (http

[2018-09-04 01:59] JECSand commented on #12
Thank you for posting!

I attempted to recreate this issue, but didn't seem to be able to. Can you tell me which version of YF you are using and what your code looked like?

Using v1.2 I tried running:
[code]

It appeared to return the correct data.

Let me know if I am missing something.

Thanks!

[2018-09-09 20:16] hiroshi-c opened #13 "Too awesome to say thanks"
@JECSand How can I buy you a beer? This tool is so awesome!!

[2018-09-10 15:07] JECSand commented on #12
I'm closing this issue since I have not heard from the OP in a week and have been unable to replicate the bug using v1.2. If anyone is still experiencing this bug please feel free to open a new issue telling me the versions of YF and python you are running. Also providing me with a sample of the code you are trying to run will help significantly.

Thanks again for using YahooFinancials!!

[2018-09-10 15:07] #12 closed

[2018-09-10 15:15] JECSand commented on #13
@hiroshi-c Thank you so much for the compliment! I am very glad this module is proving to be useful for people! This project is 100% free, open source, and I do not accept donations (Do not want to give the impression that I am profiting in any form or fashion off providing easy access to Yahoo Data). However, if you are ever in the Dallas-Ft. Worth, TX area, feel free to drop a message and I'll t

[2018-09-10 15:15] #13 closed

[2018-10-19 13:58] novalx opened #14 "Getting Price data causes error: TypeError: unsupported type for timedelta seconds component: NoneType"
I have a list of about 250 stock symbols (e.g. 'AAPL', 'IBM', 'QQQ', ...) and try to fetch price data from Yahoo Finance.

    nr_periods = 333

    date_N_days_ago = (datetime.now() - timedelta(days = nr_periods)).strftime('%Y-%m-%d')
    date_today = datetime.now().strftime('%Y-%m-%d')

    yahoo_financials = YahooFinancials(symbols_list)
    hist_prices = yahoo_financials.get_historical_price_d

[2018-10-19 20:31] JECSand commented on #14
Hi Novalx!

Thank you so much for bringing this issue to my attention. I apologize for you having to deal with it.

Based on your issue submission (Note: I have not been able to recreate your bug yet FYI) It seems _get_api_data(api_url) starting on line 304 maybe returning a null or bad value for the datetime. Is this completely random or does it only happen to certain symbols? If completely rando

[2018-10-24 06:51] Eric-szh opened #15 "bug using get_financial_stmts: ValueError: read of closed file"
I am using a demo code on the front page:

[code]

and here is the error:
`Traceback (most recent call last):
  File "/Users/eric/Desktop/demp.py", line 6, in <module>
    print(yahoo_financials.get_financial_stmts('annual', 'income'))
  File "/usr/local/lib/python3.7/site-packages/yahoofinancials/__init__.py", line 502, in get_financial_stmts
    data = self._run_financial_stmt(statement_type, re

[2018-10-24 21:33] JECSand commented on #15
Eric,

My apologies, I should have been clear in the documentation. We are not supporting python 3.7 yet. It will be supported in a future release though.

[2018-10-25 08:28] Eric-szh commented on #15
Thanks for that. Now, I switched my environment from 3.7 to 3.5 by using pyenv. Unfortunately, this error happens again:

`raceback (most recent call last):
  File "/Users/eric/Desktop/demo.py", line 6, in <module>
    print(yahoo_financials.get_financial_stmts('annual', 'income'))
  File "/Users/eric/.pyenv/versions/3.5.0/lib/python3.5/site-packages/yahoofinancials/__init__.py", line 502, in get_

[2018-10-25 15:46] JECSand commented on #15
Hmm, I can't seem to replicate this for some reason. I did find this however:

https://stackoverflow.com/questions/37024266/how-to-overcome-valueerror-read-of-closed-file-in-python-3-5-1

I am wondering if Yahoo Finance is returning a 400 to your request. Maybe based on your geographic location? A pyenv shouldn't be causing any problems. I am only saying this because I can't seem to replicate this

[2018-10-27 01:16] Eric-szh commented on #15
Ummm，I downloaded your repo and put it on the desktop, added print(response.getcode()) under line 134 and ran demo.py in the terminal. It returns 500. Internal server error???

[2018-11-18 04:05] climghub opened #16 "who to contact if there is some missing data"
First of all I would like to thank you @JECSand for such a wonderful library.

I have recently noticed that there are some missing data for my counters, and I tried to feedback to yahoo but I was told that yahoo finance API has been disabled (https://forums.yahoo.net/t5/Known-issues-and-updates/Yahoo-Finance-API-disabled/m-p/392760#M14)

From where actually these data are pulled from? Is there any

[2018-11-18 04:30] climghub commented on #16
I could see the same issue in the website historical data. So the issue is with Yahoo then. Sorry for troubling :) I think you can close the issue.

[2018-12-15 08:54] JECSand commented on #16
Thanks for the question.

Closing the issue.

[2018-12-15 08:54] #16 closed

[2018-12-25 21:29] pricelong opened #17 "Using stock symbols with '&' characters"
Some of the stocks traded on NSE have '&' sign for example:
GET&D.NS
IL&FSTRANS.NS
J&KBANK.NS
L&TFH.NS
M&MFIN.NS
M&M.NS
I have tried escaping the character using a '\' but this has not worked.

Is there a workaround for such symbols?

Thanks

[2019-01-03 00:45] JECSand commented on #17
Hi pricelong,

Thank you for your submission and my apologies for the late response. Due to the holidays and a hectic work schedule, I haven't been able to investigate this yet. I plan on getting back to the module this coming weekend and I will investigate and get back to you then with more details.

[2019-01-03 22:59] Usernameles commented on #15
Hello, thanks JECSand for your code. I really like it!

I've found the same "ValueError" bug. It appears when I try to make many calls to YF.
[https://pastebin.com/dJwrhdwf](url)

My ticker array contains over 2k symbols so probably YF blocks web scraping. Is it possible ?

[2019-01-05 17:00] joesixpack opened #18 "Add Support for Key Statistics"
https://finance.yahoo.com/quote/AAPL/key-statistics?p=AAPL

[2019-01-06 03:41] pricelong commented on #17
Thanks, JECSand.

[2019-01-07 16:04] JECSand commented on #15
@Usernameles

Thank you SO much for your feedback here, I was scratching my head on this one. I have a possible solution to this problem I believe. At worst it will atleast handle the error nicely without breaking your process, at best it will get all of your data.

Is there any chance you could send me your ticker array with 2k symbols so I can start testing tonight?

[2019-01-07 16:07] JECSand commented on #18
I'll take a look at this tonight to see if I can add this feature to the v1.4 release.

Thanks for the info!

[2019-01-08 19:33] joesixpack commented on #18
Be aware there is some kind of pacing enforcement by Yahoo.  I believe the same limitations for the CSV history apply to web scraping, e.g. 2000 requests per hour.  I've only managed it successfully with 1 thread and a bit over a second between requests.  When you violate it, it will return a 404 error encoded in the url with a redirect to the home page.

[2019-01-13 05:43] pricelong commented on #17
Hi JECSand,
Any update or an ETA for resolution.
Thanks

[2019-01-13 07:03] JECSand commented on #17
pricelong,

My apologies for the delayed update. Could you post your error traceback and which version of python you are running?

Running the following:

yahoo_financials = YahooFinancials(['L&TFH.NS', 'GET&D.NS', 'IL&FSTRANS.NS', 'J&KBANK.NS''])
print(yahoo_financials.get_financial_stmts('quarterly', 'balance'))
print(yahoo_financials..get_historical_price_data('2015-01-15', '2017-10-15', 'weekl

[2019-01-13 10:41] JECSand commented on #18
This feature has been added in v1.4! The method to get this data is called "get_key_statistics_data()".

Let me know if you have any issues and thank you for using YahooFinancials!

[2019-01-13 10:41] #18 closed

[2019-01-13 10:42] JECSand commented on #15
This issue should be resolved in the new v1.4 release. Let me know if you all have any more problems with this.

Thanks for all of your help and thanks for using YahooFinancials!

[2019-01-13 10:42] #15 closed

[2019-01-25 10:16] pricelong commented on #17
Thanks.

[2019-01-25 10:16] #17 closed

[2019-01-26 19:14] nealeyoung opened #20 "feature request to work around yahoo financials dropping dividends"
There is a bug in the yahoo data server (not a bug in the yahoofinancials package here) that adversely affect peoples who use this package.  I'm not sure where else to document it, and I would like to request a feature for the package that will allow working around the bug.

The bug occurs when one asks for historical data in weekly, monthly, or larger periods.  For example, the VBILX fund has reg

[2019-01-26 19:58] JECSand commented on #20
nealeyoung,

Thank you for bringing this to my attention. No, there is not a method in yahoofinancials to get daily dividend data without bringing in the pricing data.

I'll make a new method with functionality to scrape dividend data from web pages such as this one:
https://finance.yahoo.com/quote/AAPL/history?period1=1516996228&period2=1548532228&interval=div%7Csplit&filter=div&frequency=1d

 I

[2019-01-26 20:11] nealeyoung commented on #20
Thanks!

[2019-01-27 05:58] JECSand commented on #20
nealeyoung,

I just release v1.5 on pypi with a new method called "get_daily_dividend_data(start_date, end_date)" as requested. I've documented an example for it in the v1.5 readme.rst.  Let me know if this works for you.

Thanks!

[2019-01-27 05:58] #20 closed

[2019-02-01 23:13] nealeyoung commented on #20
Will do, thanks!  May take me some weeks.

[2019-02-19 20:01] sylvandb opened #21 "ETF's stopped working"
VXUS and VTI do not retrieve, and are reported failing with a 502.

edit: They worked on Friday. Also fails for mutual funds such as VIIIX

Attempting the same URL using 'curl' from the commandline gets a 302 redirect, and following that redirect returns the data.

and FYI, the retries are excessive. It takes a very, very long time. I put a commit on the top of my master branch that seems to help

[2019-02-19 20:49] sylvandb commented on #21
It appears to be related to an http and https proxy. Specifically, python urllib misusing the proxy, sending 'GET https://finance.yahoo.com/...' instead of 'CONNECT finance.yahoo.com'

[2019-02-19 20:49] #21 closed

[2019-02-27 01:37] hellojinwoo opened #22 "It slowed down a bit recently"
It used to be much faster to crawl data such as historical daily prices but recently, it slowed down a bit.

[code]
For example, the code above took me about 20 minutes to complete.
Why did it slow down so much and can you handle this issue please?

[2019-02-27 19:08] DebugMeIfYouCan opened #23 "How to use question"
Hi there! Here is my project and the challenges I'm facing :)

**THE GOAL**

End up with a Google Sheet that will do my stocks calculations by being fed automatically by the Python 3 script when I run it. I don't want this to be automatic real-time updates, just want it to update when I run the python script.

**THE CHALLENGE**

I would like to fetch data from the YahooFinancials python API for a

[2019-02-27 19:18] sylvandb commented on #23
issue B:
[code]

[2019-02-27 19:27] sylvandb commented on #23
issue A:
[code]

[2019-02-27 19:28] sylvandb commented on #22
which version was okay and which version did the slow down happen?

if you didn't change version, the problem is not this code.

[2019-02-27 22:21] DebugMeIfYouCan commented on #23
@sylvandb thank you very much for your help!

When I'm running the script below, I get this error:

[code]

Now I've got this python code, but I'm not sure I've structured it properly tho:

[code]

**Question 1** - I can see that in `wanted` there is `summary` and `stats`, but if it possible to have `financial` or is it excluded because of the search function to look up the `cash` variable?

**Que

[2019-02-28 06:13] hellojinwoo commented on #22
I am using the most recent version, v1.5 and it seems that it slowed down after I installed the version v1.5.

[2019-02-28 19:15] DebugMeIfYouCan commented on #23
@sylvandb what did you mean with the `raw` variable? Where does it come from?

[2019-02-28 21:46] JECSand commented on #22
Hi hellojinwoo,

I will do some benchmarking between v1.4 and v1.5 over the coming weekend and get back to you about this. Thank you for bringing this to our attention!

[2019-02-28 22:12] JECSand commented on #21
Hi sylvandb,

As always thank you for all of your help and letting me know about this slowdown. I'll have some time this weekend to take a look into the 302 redirect and the inefficient retires. If you have any code you want to merge let me know as well!

Thanks!

[2019-03-03 15:51] DebugMeIfYouCan commented on #23
Found a way to do what I wanted. Thanks  for your help :)

[2019-03-03 15:51] #23 closed

[2019-03-03 15:53] DebugMeIfYouCan opened #24 "Levered Free Cash Flow value missing?"
Hello, is there a way to get the "Levered Free Cash Flow" value please? It seems to be missing even tho it's part of the "key statistics" data available on Yahoo Finance.

[2019-03-04 09:13] DebugMeIfYouCan commented on #24
EDIT: I meant "Levered Free Cash Flow"

[2019-03-07 01:50] andrewkdinh opened #25 "get_historical_price_data returns None for a single close value"
For some tickers, get_historical_data returns None for a single close value.

- Occurs for both pip install and imported yahoofinancials.py
- Linux
- Python 3.6.7

Some tickers this occurs for: SGHIX, FSHCX

Example:
[code]

[2019-03-07 21:29] ciuji opened #26 "can I get the price change in a day?"
I want to get a stock data in a day and the interval would be a minute.

[2019-03-12 08:11] DebugMeIfYouCan commented on #24
Hello, any chance to get a feedback please? :) thanks in advance!

[2019-03-17 17:26] DebugMeIfYouCan commented on #18
@joesixpack @JECSand hello, just wondering how you can get the `total Cash`, `total Debt` or `Levered Free Cash Flow` from the Key Statistics?

https://finance.yahoo.com/quote/AAPL/key-statistics?p=AAPL

[2019-03-18 14:29] DebugMeIfYouCan opened #27 "Add support for ALL key statistics data"
It's related to #18 as most of it has been done, but there are some main key statistics data that are missing, such as `total cash`, `total debt` or `levered free cash flow`. How could we get access to all those data?

See sample here: https://finance.yahoo.com/quote/ABBV/key-statistics?p=ABBV

It would be ideal if all those data could be available :) Happy to help where I can.
Thanks!

[2019-03-19 12:55] hellojinwoo commented on #22
Now it got about 2 times faster than before! I don't know why but I will close this issue :D

[2019-03-19 12:55] #22 closed

[2019-03-23 16:35] DebugMeIfYouCan commented on #27
@JECSand I'll ask someone to add those missing data to the project as it seems possible. Would you consider the pull request if I make those enhancements available? Thanks

[2019-04-05 01:34] marcosgurgelfernandes opened #28 "Stock splits?"
Looked through the project and could not find historical stock split data as I could find for dividend. Any ideas on this?

Thanks, wonderful tool

[2019-04-07 10:58] thezoug opened #29 "Way to get more than 4 years or 4 quarters of financial data"
Is there an existing parameter to specify how many periods of financial statements to pull? I would like to pull more than the default 4 years or quarters. If not, hopefully we can add that

[2019-05-03 02:44] LeeZeitz commented on #29
I think this is a limitation of Yahoo finance itself, and not of this (wonderful) package. They only provide financials for 4 of whichever time interval you select (annual or quarterly). I think to get anything dating further back you'll have to dig around on the respective company websites (not super easy to automate unfortunately)

[2019-05-22 12:44] NeedHelpPython commented on #23
I am very interested in how you solved this problem. Can you please post your final solution?

[2019-05-22 13:34] DebugMeIfYouCan commented on #23
I've been hiring a developper to do it, but it doesn't seem possible to retrieve all the key_stats data... this API seems to be a dead end.
If you find a solution, please let me know as well :)

[2019-06-26 20:25] gargi-chugh1011 commented on #27
revenueQuarterlyGrowth values in get_key_statistics_data() show up as None for all tickers. I checked some against the Yahoo Finance website and they are not None. Attached an example
![image](https://user-images.githubusercontent.com/40868096/60212336-dc57fd80-9815-11e9-8c8e-0e6189a1f5dc.png)

[2019-07-01 02:36] maylathant opened #30 "Getter methods Missing"
I saw a similar comment in the ".get_stock_outstanding" thread. Basically, it would be great if we could add some more getter methods to the package. For me, I wrote a local extension to the YahooFinancials class with getters for 1Y performance and short ratio.

Is there any way we could do pull requests to add more getter methods? This way, we could make some nice bespoke methods and you would ha

[2019-07-12 15:20] hjolivet opened #31 "Converting to DataFrame."

[2019-07-30 21:38] austin-stocks opened #32 "Add Sector and Industry to get_stock_quote_type_data?"
I am really enjoying the package and it works as designed.
This is a request for a feature - I would like to suggest that having a sector and industry for a stock would be a great addition to the method - say get_stock_quote_type_data?

[2019-07-31 17:16] JECSand commented on #27
@DebugMeIfYouCan

I would absolutely consider a pull request which added that missing data.

[2019-07-31 17:17] JECSand commented on #31
@hjolivet

Here are some examples of converting YF data into a data frame.

Let me know if you have any questions!

https://github.com/JECSand/pandas_sqlalchemy_technical_analysis/blob/master/pandas_with_sqlalchemy.py

[2019-07-31 17:17] #31 closed

[2019-07-31 17:19] JECSand commented on #29
@thezoug

Unfortunately as far as I can tell this is a limitation of Yahoo Finance itself. I'd advise creating a database and storing the data for future use if needed. This is something I have attempted to get around in the past to no avail.

[2019-07-31 17:19] #29 closed

[2019-07-31 17:21] JECSand commented on #28
@marcosgurgelfernandes

I'll try to look into this over the next month. Sorry for the wait!

[2019-07-31 17:22] JECSand commented on #32
@austin-stocks

Thanks! I will be happy to look into adding this feature. My goal is to have a new version addressing the current issues out by the middle of September at the latest.

[2019-07-31 17:23] JECSand commented on #25
@andrewkdinh

I will look into this and report back. I have been very busy these past few months, but my goal is to have a new version out addressing the current outstanding issues by the middle of September.

[2019-07-31 17:26] JECSand commented on #26
@ciuji

I can investigate what it would take to get intra-day stock data at a 1 min interval. Right now daily is the lowest granularity the module offers. If this is doable, I will try to add it to the September 15th release.

[2019-07-31 17:29] JECSand commented on #30
@maylathant

YF is absolutely open to pull requests and bringing in other developer's code/ideas. Feel free to create a pull request with your local extension and I'd be happy to review it.

I plan on a September 15th release for the next version, so if you can get it in before that I'll include it with v1.6.

Less work is never a bad thing in this industry lol.

Thanks!

[2019-07-31 17:31] JECSand commented on #24
@DebugMeIfYouCan

I will investigate this issue and report back. I have been really busy these last few months. Sorry about taking so long to get back!

[2019-08-04 00:06] jidicula commented on #32
Hi @JECSand, would it be alright if I submitted a PR for this issue? I was trying to build something similar and implemented this feature for my own use before finding this package. It should be simple for me to copy over the functionality.

[2019-08-07 05:50] mangob91 opened #33 "AttributeError: 'YahooFinancials' object has no attribute 'get_historical_price_data'"
Not quite sure why I run into this issue. Any thoughts?

[2019-08-07 05:51] mangob91 commented on #33
oh doc needs to be updated!

[2019-08-07 05:51] #33 closed

[2019-08-09 16:05] rsandx commented on #32
I second that idea. This is really a great package, but the Profile and Holders pages contain important information that I can't find in existing methods, it'd be great if the data is added in existing or new methods. Keep up the good work and I'm looking forward to the next release!

[2019-08-11 15:09] austin-stocks commented on #32
Yes - I agree with rsandx idea of having some way of getting the Profile, number of employess, Key Executives (the whole table). That would be super - as I look at the salary of key executive and how many key executives are leaving the company etc, is the #of employee increasing or decreasing. Thanks for all the work that you do.

[2019-08-19 02:39] windowpane opened #34 "get currency denomination for statements"
Currently the `get_financial_stmts()` function has no way to let someone know what currency is being used for reporting. Yahoo finance sometimes reports financial statements in USD, CNY, RUB, and other currencies.

It would be a nice feature to also return what currency the income/cash/balance statements are reported in.

![image](https://user-images.githubusercontent.com/3112214/63235680-7a5db800

[2019-09-03 13:52] analystguy opened #35 "Missing intangibles in returned data set"
Looking at the Cash Flow statement I note the following -
Operating activities -
Depreciation is understated by the amount of intangibles/or intangible amortization not included.
Investing Activities -
Investments in intangible assets not included in any shown categories.

[2019-09-03 13:58] analystguy opened #36 "Returned JSON difficult to parse"
First  - thanks for the great tools. I am rather new to Python and am having difficulty parsing the returned json into a dataframe. Is there a plan in the works to do so or can anyone offer assistance?
The json returned appears as one long unstructured dictionary string.

[2019-09-04 21:44] sylvandb commented on #36
Isn't the returned data a dict or maybe a list of dict?
if you print(value) it will convert whatever it is into a string

you can experiment interactively with python, and try `type(value)`

alternatively, if somehow you do have a string containing json data then:
[code]

[2019-09-07 16:10] flashgordon69 opened #37 "Export YahooFinancials data into Excel"
Perhaps an easy question, but I am a beginner :-)
How do I convert the data, received by the code below, into Excel

from yahoofinancials import YahooFinancials
import datetime
ticker = 'MCD'
yahoo_financials = YahooFinancials(ticker)
r = yahoo_financials.get_historical_price_data('2015-01-01', str(datetime.date.today()), 'monthly')

[2019-09-10 17:31] pinkylynn opened #38 "ImportError: cannot import name 'YahooFinancials'"
I have been importing values from YahooFinancials via from yahoofinancials import YahooFinancials. Up until today, when this error showed up - ImportError: cannot import name 'YahooFinancials'. Not sure if there's any updates being done on the backend thats causing this error? Thanks!

[2019-09-11 06:53] sabirjana commented on #36
Hello, great work!! Is there an easy way to get data in pandas dataframe from various supported methods ?
Thanks

[2019-09-13 17:54] JECSand commented on #38
Hi pinkylynn,

Given the potential severity of this reported issue, I went ahead and tried to replicate it on a fresh install and was unable to do so.

Can you attempt to reinstall using pip? Also what version of python are you using?

Also can anyone else confirm this is an issue?

Thanks!

[2019-09-13 18:20] JECSand commented on #37
Thanks for asking!

I would refer to the stack overflow question linked below:

https://stackoverflow.com/questions/23113231/write-dictionary-values-in-an-excel-file

Thanks for using YahooFinancials!

[2019-09-13 18:20] #37 closed

[2019-09-13 18:21] JECSand commented on #36
Hi Analyst guy,

[2019-09-13 18:21] #36 closed

[2019-09-13 18:53] flashgordon69 commented on #37
Hi JECSand

I tried the code, but I only receive the types of data, not the data itself.
My code:
[image: image.png]

And I receive an Excel-file with only:
[image: image.png]
What is wrong?

Greger

Den fre 13 sep. 2019 kl 20:20 skrev Connor Sanders <notifications@github.com

[2019-10-09 10:30] blah-crusader opened #39 "Mapping of balance sheet fields"
Hi,

I was wondering whether you have an exact mapping of balance sheet / cashflow statement / income statement fields to variable names. Most of them are easy to deduce, like "Total Assets" to "totalAssets" but some are less and would like to be exact.

Thanks for any advice!

[2019-10-12 22:50] rsheftel opened #40 "UrlOpener style of invoking requests is deprecated"
I get the following warning when using this package:

DeprecationWarning:  UrlOpener style of invoking requests is deprecated. Use newer urlopen functions/methods

[2019-10-18 08:32] jazarija opened #41 "Incorrect labeling of dates while fetching date"
I am trying to get the price data for CCL.AX for the last few days in the following day

[code]

Notice how the price for Oct 17 is missing and the first trade date listed is . In fact, the price data for Oct 16 is in fact the data corresponding to Oct 17!

What is causing this issues?  Ideally I'd like trade days to be dated consistently with how they corresponded on the underlying exchange.

[2019-10-21 08:47] maciey opened #42 "OSError: [Errno socket error] [SSL: UNKNOWN_PROTOCOL] unknown protocol (_ssl.c:841)"
Ive got this error when trying extract data

python demo.py WFC C BAC

[2019-10-22 10:49] JECSand commented on #40
@rsheftel

Thank you for bringing this up. I have been trying to find a way to do this with urlopen for awhile now. The requests are rejected for some reason. If you could find a way to get it working and open a merge request it would help a ton. I am really busy right now on other projects. I probably wouldn't be able to look at this until the beginning of next year.

[2019-10-22 10:54] JECSand commented on #42
Thank you for opening this issue. I was unable to replicate this bug, when I ran:

python demo.py WFC C BAC my output was:

[code]

[2019-10-22 11:03] maciey commented on #42
I think I know where is the problem. Im behind web proxy (port 80)
I any any way to run script giving proxy as config param ?

[2019-10-22 11:07] rsheftel commented on #40
I will take a look, I am not well versed in these packages so not sure I will succeed.

[2019-10-22 11:50] JECSand commented on #41
@jazarija

That datetime value comes from the Yahoo Finance API itself.

If you look at the raw date value from the middle item in your list, '1571266800', that translates to 2019-10-16 23:00:00. From my end I do standardize all of the datestamps into UTC, as you can see from lines 112 through 129 in yahoofinancials/__init__.py. (functions format_date & _convert_to_utc).

Even if the root issue wa

[2019-10-22 11:54] JECSand commented on #40
Thanks!

[2019-10-22 11:56] JECSand commented on #39
@blah-crusader

Thanks for bringing this up! I'll look into this when I get some free time. Probably be closer to the beginning of next year.

[2019-10-22 12:10] JECSand commented on #42
@maciey

That is not something I have built in unfortunately. Also that error is coming from the Yahoo Finance side. The request they require is https, so you'd have to find someway to communicate the request via ssl on port 443 of your proxy. I am not sure what type of proxy you are using or how it is setup. However, if you are using Nginx or Apache you should also be able to configure your proxy

[2019-10-22 13:04] #42 closed

[2019-10-22 13:08] JECSand commented on #38
Closing this issue now since it has been over a month since I've heard from OP in addition to me not being been able to replicate the reported issue.

[2019-10-22 13:08] #38 closed

[2019-10-22 14:33] maciey commented on #42
Thanks.
I'll play with that and will let community know if / how to resolve that

I think I'll check 1st this
https://stackoverflow.com/questions/31639742/how-to-pass-all-pythons-traffics-through-a-http-proxy

[2019-10-24 01:16] shobnaren opened #43 "VWAP of 14 day- enhancement"
Does Yahoofinancials contain 14 day VWAP data in it?
If so the rest query / response will help it

[2019-10-26 07:04] jazarija commented on #41
I can confirm that I also cannot replicate this specific issue right now. However, there are many spooky inconsistencies that seem to be coming from Yahoo's financial data. For example, its quite common to get duplicated entries as

`In [30]: yf.get_historical_price_data('1900-01-01', '2019-10-26', 'daily')['SKIS']['prices'][-2:]
Out[30]:
[{'date': 1569331800,
  'high': 11.0,
  'low': 10.989999771

[2019-10-26 08:16] DanielFokChunHoe opened #44 "Financial data does not match for Twitter Inc."
was trying to compare twitter to facebook. The financial data matches for facebook but for twitter it does not match with that on Yahoo Finance.

e.g. research and development expenses are quite different

I checked with a few other tickers and it worked for GOOG, FB, CMRE, DAC. Weirdly, it's twitter that is not giving accurate figures.

[2019-10-26 15:36] typhoon71 opened #45 "Summary data for ETF"
I noticed that the data returned by get_summary_data() is incomplete for ETF.

For example: the yield and the expense ratio for VHYL.MI arepresent on yahoo finance, but don't get returned by get_summary_data(); other methods like get_dividend_rate() or get_annual_avg_div_rate() or get_exdividend_date() are affected too.

[2019-10-30 11:24] Navia135 commented on #45
Any idea about this app https://cutt.ly/infinimf6 providing online direct mutual funds.

[2019-11-19 12:30] MikhailMS opened #46 "Proxy support"
It seems like at the moment there is no support for proxies

I got the PR (support for proxies) ready to be merged if you are happy with contribution from the outside :)

[2019-11-23 23:22] flipdazed commented on #27
Have a look at https://github.com/JECSand/yahoofinancials/pull/47

[2019-11-28 10:25] bellait opened #48 "ESG data"
Hello, great module! Is it possible to get data from Sustainability tab, please? Thank you

[2019-12-15 19:56] DannyFFM commented on #24
Hi, are there any news on this?
Thanks and Regards

[2019-12-17 14:58] onnju opened #49 "20 sma and 100 sma"
first thanks for everything!
second..
did you write a method for 20 sma and 100 sma?

[2019-12-17 20:18] RenaissanceEngineering opened #50 "get_beta() method slow for large number of stocks"
yahoo_financials = YahooFinancials(stocks)
betas = yahoo_financials.get_beta()

For a stock list greater than approximately 20 stocks the get_beta query is very slow.

[2019-12-29 18:43] AiDataSciencer opened #51 "Get list of yahoo ticker symbols from "foreign" IDs, such as ISIN"
Yahoo ticker symbols are quite uncommon. In order to find securities systematically one usually uses IDs like ISIN / SEDOL or Bloomberg Tickers. Since yahoo made up it's own representations, it would be more than useful to translate a list of "foreign" IDs (e.g. the ones I mentioned) into yahoo tickers. Does anayone know of a way to achieve this using the repo or alternatively working around manua

[2020-01-25 14:11] mahiiitk opened #52 "Free Cash Flow is missing in cash flow financial statements"
Even though it is available "https://finance.yahoo.com/quote/SUNTV.BO/cash-flow?p=SUNTV.BO"
![Screenshot from 2020-01-25 19-34-40](https://user-images.githubusercontent.com/15260587/73122406-a137cb80-3faa-11ea-8eee-f7109df2689a.png)

[2020-01-26 13:26] anuradhamohanta opened #53 "Historical Financial Statements"
Is is possible to enhance the getfinancials methods to pull historical financial statements?

[2020-01-28 12:07] andreastasia opened #54 "Converting to xlsx from json?"
Hi everyone,

I am a very beginner in Python. I am using this package but I'd love to save the outputs in xlsx format (for a better reading). I saved the JSON outputs in files but the conversion using pandas or online converter is ugly.

What I would to do is to have an Excel file with per every row I have the different tickers and the columns are the different metrics, as below:

![image](https:/

[2020-01-28 12:14] andreastasia commented on #54
`from yahoofinancials import YahooFinancials

ticker = ['INC.MI', 'BSS.MI']
yahoo_financials = YahooFinancials(ticker)

keystatistics = yahoo_financials.get_key_statistics_data()

import json
with open('data.json', 'w', encoding='utf-8') as f:
    json.dump(keystatistics, f, ensure_ascii=False, indent=4)`

This is my code, if it can help you.

[2020-02-12 21:06] shobnaren commented on #26
@JECSand any luck on this?

[2020-02-15 18:52] lefig opened #55 "Feedback"
Thanks for a great project and all your hard work.

Particularly with respect to fundamentals.

[2020-03-05 22:33] davidt35 opened #56 "Ticker RIOT is not returning anything"
Hi,

ticker RIOT is not returning anything.

![image](https://user-images.githubusercontent.com/21089978/76032221-b0ab1c80-5f39-11ea-82a3-1b1393f240d3.png)

Data is present on yahoo website.

![image](https://user-images.githubusercontent.com/21089978/76032295-da644380-5f39-11ea-88f4-8d069ba8dae0.png)

[2020-03-07 03:48] sylvandb commented on #54
Instead of doing a json.dump(), you probably need to write a CSV file, then Excel can import the CSV. Something like:
[code]

[2020-03-07 08:18] agastya29 opened #57 "get_current_price() returning none for everything"
stock = YahooFInancials('ABB.BO')
cmp = stock.get_current_price()
cmp

returns None

Also happening with atleast volumes and market cap fields as well.

[2020-03-08 09:08] thelawlaw commented on #57
Same here... API is returning None...

Can the creator please solve?

[2020-03-08 12:45] andres0820m commented on #57
same over here

[2020-03-08 13:35] georgk10 commented on #57
Same problem here. The way yahoo formats their data seems to have changed. I'm getting None for every request I make. A few days ago everything worked like a charm.

[2020-03-08 14:25] tioneb22 opened #58 "get_key_statistics_data() returning none"
Seems like the bulk of the methods are currently returning none, other people are reporting the same thing.

[2020-03-09 10:02] coolmaddy85 opened #59 "get_financial_stmts() returning none"
Today when I tried get_financial_stmts(), it's returning none.

Please note everything was working fine till a week back.

I'm in the middle of a project, It'll be really great if it's fixed at the earliest.

Thank you

[2020-03-09 16:54] agastya29 commented on #57
hi,

So I found some time to go through the source code and how Yahoo Finance pages show the data. When I wrote my own version of YahooFinanceETL, I could get the data from Yahoo Finance like before. On comparing with YahooFInanceETL code, I can clearly see the same approach- using requests & bs4 using the same markers and regex statements, broadly speaking. The change required is minor which I am

[2020-03-10 01:30] almalh commented on #59
I have the same issue, it looks like it can't fetch the data anymore

[2020-03-10 01:44] almalh commented on #57
Same problem here, hopefully it will be resolved soon

[2020-03-10 06:52] promsieho commented on #59
plz help ! same issue here
Thanks!

[2020-03-10 08:45] bohm66 commented on #25
Hi, I have the same problem since one week back. Before it worked perfectly.

[2020-03-10 13:11] sucubitos commented on #57
I have also the same problem. I can get historical data for any stock till 6th of March, since then all I get is None. Hope the info helps to solve the problem.

[2020-03-10 16:39] galanCA commented on #59
I have the same problem as the users above. I've being running my code for 6 month with no problems. My guess is that the issue is related to Yahoo's new interface.

Any help is greatly appreciated.

Thank you

[2020-03-10 20:51] futurev opened #60 "no sourcecode?"

[2020-03-10 20:53] #60 closed

[2020-03-10 22:25] galanCA commented on #59
I found this web api that achieves the same goal. https://financialmodelingprep.com/developer/docs/

[2020-03-11 05:04] agastya29 commented on #57
Please check again. Historical prices are working for me even now.

[2020-03-11 11:22] tioneb22 commented on #59
@galanCA Thanks, very helpful. It's too bad it doesn't provide the float like yahoo does :(

[2020-03-13 08:16] bohm66 commented on #57
For me it is still None. When the problem started I ran my program several times and sometimes  I got "None" and some times I got the stock price. Now it is only "None".

[2020-03-13 08:18] bohm66 commented on #57
Hi, did the original start working again? For me it is still "None" in the response

[2020-03-13 08:37] georgk10 commented on #57
Since this issue seems not to be solved anytime soon I migrated to using [this library](https://github.com/ranaroussi/yfinance) . It works pretty well, although it had a small [bug](https://github.com/ranaroussi/yfinance/issues/214) - but this one has a solution already (which can really be fixed in less than a minute be anyone).

[2020-03-14 15:55] hrodv commented on #57
All key statistics still gives None. Do the developer plan to fix this issue?

[2020-03-14 22:10] sylvandb commented on #57
The issue is likely due to the client version. Fixed in my version, but there is also a slight change in API compared to this version -- mine always returns a dict as if you had requested multiple tickers.

https://github.com/sylvandb/yahoofinancials/

[2020-03-15 15:06] scorpion-inc commented on #57
This worked for me.  However for me the comment "yahoo issue was the client version" wasn't completely clear as to how to fix.  So I thought I'd add a comment if others were in the same boat.

Line 71 needs to change from:
`version = 'Mozilla/5.0 (Windows; U; Windows NT 5.1; it; rv:1.8.1.11) Gecko/20071127 Firefox/2.0.0.11'`

to this:
`version = 'w3m/0.5.3+git20180125'`

Thanks sylvandb.

[2020-03-16 08:42] bohm66 commented on #57
Hi, I do not understand. Is there a need to change the library or do I need to do something with the version in my code?

Thanks, Christer

[2020-03-16 12:57] scorpion-inc commented on #57
You fix one line in your code.

Find the yahoofinancials package on your system, (mine is in the site-packages area of my python installation) then make the change in the file named __init__.py, which should be the only file in the yahoofinancials directory.

Alternatively you could install sylvandb's fork of this codebase (follow his link above).  For me, it was easier to fix the one line.

[2020-03-16 12:58] scorpion-inc commented on #57
Sorry, the comment system took off the underscores in the filename, I guess they are special characters.  The file you modify is named `__init__.py`

[2020-03-16 13:56] bohm66 commented on #57
.. and just by magic it starts to work!

Thanks, Christer

[2020-03-25 17:36] rickard199 opened #62 "test_yahoofinancials.py returning UrlOpener deprecated"
Hello,

I am running python 3.7.4 on mac osx.

thanks for your help.

Riccardo

[2020-03-29 10:52] stnorbi opened #63 "get_num_shares_outstanding not returning"
Hi,

I just called method referred in the subject, however it did not return any value.

Can you please assist or let me know any workaround regarding it?

Cheers,
Norbi

[2020-03-30 05:44] ipccheng opened #64 "Assertion Errors when running the test py"
$ python test_yahoofinancials.py
.FFF
======================================================================
FAIL: test_yf_fundamentals (__main__.TestModule)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "test_yahoofinancials.py", line 68, in test_yf_fundamentals
    self.assertEqual(result, True)
AssertionError: False != True

===

[2020-03-31 14:15] a3igner opened #65 "deprecated?"
this doesnt work anymore.

[2020-04-06 08:25] eleow commented on #65
Just tried and downloading of daily ticker data is working. What is specifically not working for you?

[2020-04-06 09:41] a3igner commented on #65
did you try  ES=F ?

Dr Andreas A Aigner
http://www.tradeflags.com
WhatsApp +43 664 5177 139
Skype Aigner_Andreas

[2020-04-06 09:52] eleow commented on #65
![image](https://user-images.githubusercontent.com/4363234/78545455-6534a880-782e-11ea-9a23-96b3b4375805.png)
Just tried with "ES=F", freq="daily", no issue. Maybe your syntax is wrong.

[code]

[2020-04-06 10:09] a3igner commented on #65
thanks.

i mean the live price / current price can you grab it?

[2020-04-07 18:26] jackeyjaison commented on #63
Actually, I'm having the same problem with other methods. So far I have encountered it with `get_total_revenue` and `get_stock_quote_type_data()`

[2020-04-10 10:36] antoscha commented on #65
No way. Live market data have its price, it's a common rule and exchanges' requirement. 30-min delayed quotes is the best you can hope to get for free.

[2020-04-10 12:08] jimmylai-hk opened #67 "Cash Flow Statement : Some data cannot retrieve (e.g. Free cash flow)"
Hi,

It seems that the function get_financial_stmts get not get some of the data such as Free cash flow from the cash flow statement.

Any clue?

[2020-04-10 13:55] a3igner commented on #65
I mean the Last price like shown on yahoo. Without grabbing the history. I know it’s delayed.

[2020-04-11 06:27] mnatz commented on #64
I have the same error. Any progress on solving this issue?

[2020-04-13 06:33] jimmylai-hk opened #68 "Cash Flow statement : capitalExpenditures get from API is different from the yahoo finance website"
Hi

I'm using the following code to get capitalExpenditures  data from cash flow statement for symbol 'VZ',

Below is the code that I'm using.

from yahoofinancials import YahooFinancials

ticker = 'VZ'
yahoo_financials = YahooFinancials(ticker)
balance_sheet_data = yahoo_financials.get_financial_stmts('annual', 'balance')
income_statement_data = yahoo_financials.get_financial_stmts('annual', 'inc

[2020-04-18 07:31] uhed3638 opened #69 "get_key_statistics_data()"
Hi

Any idea if most the functions are not working? I tried a number of functions and the output shown none. Below is use of get_key_statistics_data() and output reflect "None".
[code]
{'AAPL': None}

[2020-04-18 10:52] dcgithubaccount commented on #69
Hi,
When last this code worked. I just come on this today and it seems not working.

[2020-04-18 21:39] ericpts commented on #69
I think Yahoo restricted access to this data now, as the official page https://finance.yahoo.com/quote/AAPL/financials?p=AAPL now has "Get access to 40+ years of historical data with Yahoo Finance Premium" at the top.

[2020-04-21 17:31] juanpatriciopdlc commented on #65
I am having problems running the code as I get this message:

Is anyone getting the same output? Is there anyway to solve this?

[2020-04-21 18:50] juanpatriciopdlc opened #70 "UrlOpener style of invoking requests is deprecated"
Hello:

i am trying to run the test script to see if everything is working. I am having problems running the code as I get this message:

Is anyone getting the same output? Is there anyway to solve this?

Thank you in advanced.

[2020-04-21 21:55] ryantobin77 opened #71 "Unknown error - AttributeError: 'NoneType' object has no attribute 'group"
I just installed this with:
$ pip install yahoofinancials

I added a very simple script:
from yahoofinancials import YahooFinancials
yahoo_financials = YahooFinancials('AAPL')
print(yahoo_financials.get_market_cap())

And I got the following error:
  File "Main.py", line 9, in parse
    print(yahoo_financials.get_market_cap())
  File "/Library/Python/2.7/site-packages/yahoofinancials/__init__.py",

[2020-04-23 22:49] sylvandb commented on #71
New version of beautiful soup did a backwards incompatible change.

[code]

[2020-04-24 17:08] sylvandb commented on #69
For $30 a month they can keep their data. :(

[2020-04-26 08:34] jb920 commented on #71
still seeing the same issue after installing beautifulsoup4 4.8.0

my code is this:
ticker = 'AAPL'
yahoo_financials = YahooFinancials(ticker)

balance_sheet_data_qt = yahoo_financials.get_financial_stmts('quarterly', 'balance')

[2020-04-26 14:36] preisleistung commented on #71
Same problem here. Beautifulsoup 4.7.0 does not return any error but it returns a `print(yahoo_financials.get_market_cap())` returns None

[2020-04-26 16:51] sylvandb commented on #71
seems the 'financials' info problem goes deeper, to a yahoo change restricting that info.

[2020-04-27 21:04] juanpatriciopdlc commented on #68
When you check on the source code of the yahoo Finance, page, you can see there are two different variables:

It seems that the API is feeding from the later (capitalExpenditures), which is not shown on the page, instead of the "annualCapitalExpenditure" variable.

I am also having some kidn of problem regarding this aspect but I don't know how can I set the variables I want the YahooFinancials AP

[2020-04-28 09:56] juanpatriciopdlc commented on #71
After the fixing @sylvandb has done that you can see on the pull request, **I confirm that the code works perfectly fine.**

I have jusr run:
`from yahoofinancials import YahooFinancials
yahoo_financials = YahooFinancials('AAPL')
print(yahoo_financials.get_market_cap())`

And get:
`1239004610560`

And after:

`balance_sheet_data_qt = yahoo_financials.get_financial_stmts('quarterly', 'balance')
pri

[2020-04-28 20:36] dalder1 commented on #71
I am still getting errors when trying to use get_current_price... should I downgrade bs4 or what?

[2020-04-28 21:41] juanpatriciopdlc commented on #71
It works for me without downgrading. Just try to do what @sylvandb says in this pull:
https://github.com/JECSand/yahoofinancials/pull/72/files

I did it and everything is ok

[2020-04-28 23:47] dalder1 commented on #71
Okay thank you. I replaced the init.py in my library with @sylvandb file by simply copying and pasting; it now works.

I am pretty new to github/python in general (I’m a cs student with a c/c++ background), in the future is there a better way to update my library with a forked version?

[2020-04-29 03:17] HyperionSounds commented on #71
I am also having this issue, I will try the fix above.

[2020-04-30 19:18] alecjonas commented on #40
Was a solution ever found for this?

[2020-04-30 20:30] alecjonas commented on #40
I fixed the __init__ file:
Have to add this at the top: from urllib.request import urlopen
In the code, change to this: response = urlopen(url) and response = urlopen(api_url)

[2020-05-01 17:45] trenton3983 commented on #71
I was also having the same issue and this resolved it.

[2020-05-01 20:06] juanpatriciopdlc commented on #68
I have gone deeper in the code, and it seems that the code scrapes the information from the following dictionary:

Line 162
`stores = data["context"]["dispatcher"]["stores"]["QuoteSummaryStore"]`

While the information you are looking for is the subdictionary

-context/dispatcher/stores/QuoteTimeSeriesStore

I think I wil add both dictionaries in the same return so I can get both information (Quot

[2020-05-03 00:30] HyperionSounds commented on #71
thanks - I am having trouble finding these files, I am in a python3.6.6 virtualenv; what version are you using / where are the files? I tried inside of the site-packages in the virtualenv

[2020-05-04 02:31] HyperionSounds commented on #71
Ok I did the above for pull 72 and it worked. Thanks

[2020-05-08 20:43] eyalk5 opened #73 "get_financial_stmts returns nothing"
from yahoofinancials import YahooFinancials as YF
tick = YF('MSFT')
tick.get_financial_stmts('quarterly', 'balance')

In[8]: tick.get_financial_stmts('quarterly', 'balance')
Out[8]: {'balanceSheetHistoryQuarterly': {'MSFT': None}}

[2020-05-09 00:17] bluusun commented on #73
Same issue on Mac OSX, python3.7. Installation via pip3.

[2020-05-09 04:38] dalder1 opened #74 "ValueError: read of closed file from blank yahoofinance page"
When I call get_historical_price_data on a group of stocks if there is trouble returning any one of the stock's data I get this error and the program stops.

I am using the sp500 stocks and through trial and error have found that there are two stocks that cause this error because they have blank yahoofinance pages. The stocks are "BF.B" and "BRK.B".

What I am looking for is a way for the call to

[2020-05-09 18:51] eyalk5 commented on #73
See solution here https://github.com/ranaroussi/yfinance/issues/291

[2020-05-13 21:29] syrakusmrdrte opened #75 "Get_financial_stmts still return None"
I have tried and tried to search for solutions, but
ticker="AAPL"
YahooFinancials(ticker).get_financial_stmts("annual",["income","cash","balance"])
returns
{'incomeStatementHistory': {'AAPL':None},
'cashflowStatementHistory':{'AAPL':None},
'balanceSheetHistory':{'AAPL':None}}

Is there any way to solve this so that I get the financial statements?

[2020-05-14 22:29] dalder1 commented on #73
@eyalk5 could you explain how to implement this change for yahoofinancials. I do not see a base.py from yahoofinancials, where should I make the recommended changes.

[2020-05-15 18:29] Crispiro commented on #38
I'll just add my 2 pence for anyone else who came across this. I had this issue, upon numerous installations using either pip or python -m, I then realised I had named my project file yahoofinancials.py as well.

Upon changing my project file's name to something less dumb than the name of the library i was learning to use, I had no error importing the module. So make sure your .py file name is uni

[2020-05-16 08:50] madis commented on #73
I patched it like this:
You'll have to change the location of your yfinance module folder:
[code]
The below code is stored in `patches/yfinance_base.patch`
[code]

[2020-05-16 19:46] opbankolia0 commented on #57
worked for me. thanks.

[2020-05-17 22:52] dalder1 commented on #73
Okay I understand what you did, but I’m still not sure how to make this work for yahoofinancials. There’s no base.py or yfinance library in my yahoofinancials directory.

[2020-05-18 19:41] Jigg97 commented on #71
Still having no luck with this.

I tried copying and pasting @sylvandb version of the init.py, which still returns the same 'None' error. Haven't done anything with the test file though. Any advice?

Apologies - I am new to all of this!

[2020-05-19 13:57] sylvandb commented on #73
I don't understand how or why renaming a variable (url to urlH) would fix this issue with the yahoo pages. Perhaps a different patch was significant?

[2020-05-19 14:00] sylvandb commented on #74
The yahoo ticker seems to be BF-B and BRK-B (a dash not a dot). This applies also to other companies with multiple share classes such as RDS.

[2020-05-19 16:48] dalder1 commented on #74
Awesome thank a lot

[2020-05-24 18:26] juanmf commented on #71
+1 here:
[code]

[2020-05-30 19:54] juanmf commented on #59
Same here:
[code]

Is there any plan to fix this?

[2020-05-31 00:12] juanmf opened #76 "class yahoofinancials.ManagedException does not have __str__"
On this line:
https://github.com/JECSand/yahoofinancials/blob/76fe4abe139edb20f5b9b1576645c7ad05b05031/yahoofinancials/__init__.py#L481

the actual error printed to STDOUT looks like:
[code]
Not helpful.

[2020-06-02 08:17] laktej opened #77 "Can we get details of Indian mutual funds details?"
**example**:
**Name of the fund**: _Taurus Banking and Financial Services Fund - Direct Plan - Growth_
**Holdings**:
**### NSE symbol**
--
1. HDFCBANK
2. ICICIBANK
3. KOTAKBANK
4. SBIN
5. AXISBANK
6. HDFC
7. BAJFINANCE
8. ICICIPRULI
9. MUTHOOTFIN
10. HDFCLIFE
11. BAJAJFINSV
12. CUB
13. MOTILALOFS
14. SUNDARMFIN
15. JMFINANCIL
16. M&MFIN
17. FEDERALBNK
18. CHOLAFIN
19. SBILIFE
20. HDFCAMC
21. NAM-I

[2020-06-09 14:00] typhoon71 opened #78 "How t oget instrument name from ticker"
Is it possible  to use yahoofinancials to get the name of a financial instrumento from the ticker?

For example, I know the ticker of an ETF is `SWDA.MI`
How can I get `iShares Core MSCI World UCITS ETF USD (Acc) (SWDA.MI)`?

Is this possible at all? I'd like to d othis for funds, stocks, ... too.

Thansk.

[2020-06-13 12:31] yxd0018 opened #79 "index components"
Is there a way to get components for given index?

[2020-06-14 01:41] CDCDM1986 commented on #75
I have got the same issue. Anyone has any insight?

[2020-06-21 08:04] FrankDMartinez commented on #40
@alecjonas When I do that for Python 3.8, I receive the following warnings:

@JECSand A friendly FYI

[2020-06-28 19:59] biggestT commented on #75
Also had the same issue after adding [the BeautifulSoup fix](https://github.com/JECSand/yahoofinancials/pull/72/files#diff-859f0dd652dec0f5114399943a987467R153-R155), that I got these `None` results.

@syrakusmrdrte, @CDCDM1986 I Fixed it by adding [the second user-agent header change fix](https://github.com/JECSand/yahoofinancials/pull/72/files#diff-859f0dd652dec0f5114399943a987467L71-R71). Perha

[2020-06-29 11:35] Wenseslaus commented on #75
Hey biggestT. I did quite understand your solution.

[2020-07-02 05:07] jimmylai-hk opened #80 "TTM Data Missing From Annual Income Statement"
Hi,

The following code cannot get the TTM data but it is available in the yahoo finance website.

ticker = "ALB"
yahoo_financials = YahooFinancials(ticker)
frequency="annual"
income_statement_data = yahoo_financials.get_financial_stmts(frequency, 'income')

https://finance.yahoo.com/quote/ALB/financials?p=ALB

[2020-07-18 17:01] avelaga commented on #75
wow @biggestT thank you that fixed it!!

[2020-07-30 21:58] micksulley opened #81 "Code runs under Mint 20 but not under Raspbian"
This is my code -
from yahoofinancials import YahooFinancials
yahoo_financials = YahooFinancials('VOD')
pd = yahoo_financials.get_stock_price_data(reformat=True)
print(pd)

It runs fine in Python3.8 under Mint20, but when I run it in Python3.7 on a Raspberry Pi I get an error -

Traceback (most recent call last):
  File "test.py", line 5, in <module>
    pd = yahoo_financials.get_stock_price_data(

[2020-08-06 11:52] AnonJohn opened #82 "No data returned?"
All data seems to return as None. Example from running demo.py on a fresh git clone, but same thing for other tickers in my own code.
----------------------------------------------------------------

{'MMM': None, 'AAPL': None}
----------------------------------------------------------------
{'MMM': None, 'AAPL': None}
----------------------------------------------------------------
{'MMM': None,

[2020-08-09 13:32] yzhou2000 commented on #71
I replaced the init.py in my library with @sylvandb file by simply copying and pasting; it now works.

[2020-08-10 01:00] Wittionary commented on #40
I came across this repo/issue while troubleshooting the same warning on my app.
I nixed the warning by switching from urllib to requests altogether. It was a really painless transition.

@JECSand Are you open to the idea of switching the library?

[2020-08-10 16:41] nitin-rathi commented on #82
I also have the same issue. Let me know if you are able to solve it

[2020-08-10 18:54] AnonJohn commented on #82
Hi - No, I fear I didn't try. Thanks for confirming it though. My needs are simple so I used yfinance instead!

[2020-08-12 11:31] segelmache commented on #82
Same Problem :-/

[2020-08-13 08:05] segelmache opened #83 ""'NoneType' object has no attribute 'group' " when calling "get_financial_stmts""
Hi JECSand,

I tried out your code examples:
[code]

Is it just me?
Thanks and regards

[2020-08-13 16:48] Jacques2101 commented on #83
I have the same message...I just can download historical data with : yahoo_financials.get_historical_price_data('2017-09-15', '2018-09-15', 'weekly')

Help needed !

[2020-08-27 08:42] promsieho commented on #82
Same

[2020-08-28 04:09] NagpalVarun commented on #77
I think no, instead use this -> https://pypi.org/project/mftool/

[2020-09-02 19:39] giteho commented on #78
@typhoon71
What you look for is inside the JSON structure returned by get_stock_price_data(). The following sample code prints out the entire JSON structure and you can pick and choose whatever you need.
[code]

[2020-09-02 19:50] giteho commented on #83
@segelmache @Jacques2101
Your issue sounds like a duplicate of #71. Just try to do what @sylvandb says in this pull:
https://github.com/JECSand/yahoofinancials/pull/72/files

[2020-09-11 20:55] hannahrosey commented on #82
Same here

[2020-09-12 19:47] AtulVG commented on #82
No data is being returned

[2020-09-22 09:51] xixiakl commented on #83
I am getting the same error too :(.

[2020-09-25 02:52] Frodriguez9 commented on #75
Can you tell me what did you do?

[2020-09-25 03:13] Frodriguez9 commented on #75
I'm sorry, I am a beginner  programer. I am not sure what to do with that information, can you tell me how to actually apply your solution?

My biggest appreciation in advance!

[2020-09-25 03:43] avelaga commented on #75
@Frodriguez9 i made the edits in the yahoofinancials/__init__.py that was linked to. here's the fully fixed file that works for me - https://gist.github.com/avelaga/762142a778c2e3a969fbb78ec351d6e8

you want to replace <python-path>/yahoofinancials/__init__.py with this fixed __init__.py file.
if you can't find the package, do:
[code]
to find the python path and search through those to find yahoof

[2020-09-26 01:19] Frodriguez9 commented on #75
@avelaga thank you so much! it worked!.

I was telling a friend that one of the things I've enjoyed the most since I started to become involved with IT was to find such helpful community of programers. You guys are always willing to assist others.

No wonder why IT keeps evolving more rapidly than all other industries combined. Thank you so much!

[2020-09-26 14:14] avelaga commented on #75
@Frodriguez9 awesome!! yeah the online community is amazing, i've gotten a ton of help myself on reddit especially. its an amazing field and really rewarding to share it with others. im glad i could help :)

[2020-10-13 09:25] petewil2013 opened #84 "A couple of issues"
First and foremost, this is a great package! Tons of features and flexibility. It's been super useful getting all the data that I need into my code. I am an engineer by training, but not a computer, and my coding skills are basic, so excuse any misuse of jargon in advance.

I've found a couple of issues or perhaps misunderstandings (or not knowing) on my part:

1) The JSON files that are returned

[2020-10-16 03:21] sengwloke commented on #83
I am getting the same error

[2020-10-16 03:22] sengwloke commented on #83
same error

[2020-10-18 23:14] #57 closed

[2020-10-18 23:14] #58 closed

[2020-10-18 23:14] #59 closed

[2020-10-18 23:14] #71 closed

[2020-10-18 23:59] JECSand commented on #82
I pushed a new version 1.6 with changes from @sylvandb. It appears to be working again. Let me know if this issue persists.

[2020-10-18 23:59] #82 closed

[2020-11-03 05:02] NachuanLi opened #85 "Download historical fundemental data"
Hi, is there a way to download historical fundemental data of stocks such as PE ratio and PB ratio quarterly. I notice that the method provided in yfinance could only download the fundemental datas currently. Hope some one would solve this issue

[2020-11-10 05:33] wwang184 commented on #75
@biggestT That solution works for me too! Many thanks!

[2020-11-15 09:27] MartinDawson commented on #51
This would actually be really useful.

For my case I'm just using tickers. For example LSE:BOTB in yahoo finance is BOTB.L.

I presume it's a simple mapping for tickers in countries for my case.

[2020-11-25 12:13] apavlo89 commented on #85
Yes, I would like the answer to this as well. How do you get historical data for other data other than open,high,low,close,volume, e.g., for a period of five years?

[2020-12-08 07:58] kahuku opened #86 "UnicodeError: URL '...' contains non-ASCII characters"
Hi!
This is an absolutely wonderful package. I've been using this program I've written for a few months but today when I tried to run it I got the following error:
UnicodeError: URL 'https://finance.yahoo.com/quote/\ufeffSPY/financials?p=\ufeffSPY' contains non-ASCII characters
I'm not sure what it means and I've tried updating the module but haven't found a way to get it working. Any ideas?
Thank

[2020-12-08 08:09] #86 closed

[2020-12-08 08:10] kahuku commented on #86
Got it. corrupted CSV file.

[2020-12-09 01:11] samueltjsun opened #87 "The values on the Yahoo Finance website are different from the values in Yahoo Finance Page Source"
Hi,

Hope you are doing great! I want to grab the "Research & Development" of "DDOG" in the income statement quarterly (9/30/2020). The Yahoo Finance website (https://finance.yahoo.com/quote/DDOG/financials?p=DDOG) shows 56400. Yet, Page Source (view-source:https://finance.yahoo.com/quote/DDOG/financials?p=DDOG) shows 56022, which is the value I got by your function.

Then I noticed that there are

[2021-01-09 19:50] Courvoisier13 opened #88 "Fund expense ratio"
Hi,
I am trying to get a fund's expense ratio, which I beleive should be under `annualReportExpenseRatio`. But if I do:
[code]
I get `'annualReportExpenseRatio': None`

on the yaho website, it is next to `Expense Ratio (net)` for a fund, and it does not exist for a stock. It is also next to `Annual Report Expense Ratio (net)` on the profile tab.

[2021-01-23 18:58] mmayorm commented on #39
Hi,

I was also wondering that the names are not the same. However, the main issue that I have found is that some of the fields are missing. For example, summing all the fields of "Current Liabilities" is not equal to  "TotalCurrentLiabilities". Any advice?

Thank you in advance!

[2021-01-25 14:49] jonpop opened #89 "Blank fields in get_key_statistics_data"
I'm getting quite a few blank fields in the get_key_statistics_data() method.  Wondering if Yahoo changed field mappings?  because much of this data is on their stockpages.

revenueQuarterlyGrowth
priceToSalesTrailing12Months

are the two i'm primarily interested in and I know some other need login information like morningstar.

[2021-01-26 01:40] ArtixZ opened #90 "Get data for yesterday using `get_historical_price_data`"
Is there a way to get recent 2 days data? Using `get_historical_price_data`, I can only get data at least 2 days before.

[2021-01-26 01:48] #90 closed

[2021-01-26 01:49] ArtixZ commented on #90
I'm an idiot. Yesterday was Sunday...

[2021-01-29 01:34] JECSand commented on #89
They may have. I can look into it a bit over the weekend. Thank you for bringing this to our attention.

[2021-02-05 04:47] ianverbeck commented on #85
Wondering this as well– historical fundamental data seems hard to find with free APIs.

[2021-02-05 07:43] antoinevulcain commented on #85
You can get them from [https://financialmodelingprep.com/developer/docs/](blob:null/aa4db5f0-f7c0-417d-96a5-b70607ddf6f0)

[2021-02-15 11:23] micksulley opened #91 "get_stock_price_data gives timedate hours in the future"
if I use `from yahoofinancials import YahooFinancials
data = YahooFinancials('VOD.L').get_stock_price_data()
print(data['VOD.L']['regularMarketPrice'])
print(data['VOD.L']['regularMarketTime'])`
it returns the current price but the time is about 4 or 5 hours in the future.
e.g. just run it for VOD.L and it returns
2021-02-15 16:05:16 UTC+0000
whereas the web page https://finance.yahoo.com/quote/VO

[2021-02-20 13:21] sverzijl opened #92 "Results the same every time data is polled"
Code keeps a cached copy of the data and doesn't re-download. This is fine when pulling data that doesn't change but if you are trying to pull the market price periodically it doesn't work.

Maybe provide a switch for deactivating the cache?

[2021-03-02 23:31] madelahoz opened #93 "Creating DataFrame from the get_key_statistics_data()"
Hi. I run the following code:

import pandas as pd
from yahoofinancials import YahooFinancials

mutual_funds = ['PRLAX', 'QASGX', 'HISFX']
yahoo_financials_mutualfunds = YahooFinancials(mutual_funds)
daily_mutualfund_prices = yahoo_financials_mutualfunds.get_historical_price_data('2015-01-01', '2021-01-30', 'daily')

I would like to get a DataFrame such as

![Sin título](https://user-images.github

[2021-03-07 19:29] sylvandb commented on #92
Create a new instance of the object when you want fresh data.

[2021-03-07 19:31] sylvandb commented on #91
It appears the time zone conversion is malfunctioning in your environment. (I've struggled trying to get that correct in similar situations, so I am not surprised there is a failure.) I don't have any good suggestions for you. :(

[2021-03-10 04:10] jumpinjoey222 opened #94 "get_ten_day_avg_volume reports wrong values"
when using the function get_ten_day_avg_volume it returns a value that differs from the sum of the last 10 days volume divided by 10.

[2021-03-16 09:41] lucastagnitta opened #95 "Any way to get "dividend pay date"?"
Hi there,
very quick question: is there any way to get the dividend pay date?
I am looking for "Dividend Date" under: statistics => Dividends & Splits => "Dividend Date" (that is dividend pay date)
Many thks for your help
regards
LUCA

[2021-04-01 12:07] jonfrs opened #96 "Get wrong data in JSON"
Hi,
the most data from financials are wrong.
Bellow one example.
Data from json:
![image](https://user-images.githubusercontent.com/17346713/113291442-6a092c80-92c9-11eb-8702-0433e5c5351f.png)

Data from site:
![image](https://user-images.githubusercontent.com/17346713/113291505-81e0b080-92c9-11eb-9045-cd59a277aa21.png)

[2021-04-26 21:15] alexandrea514 opened #97 "cannot import name 'YahooFinancials' from partially initialized module 'yahoofinancials'"
Sorry, issue on my side.

[2021-04-26 21:50] alexandrea514 commented on #97
Sorry, issue was on my side.

[2021-04-26 21:50] #97 closed

[2021-05-05 23:26] sylvandb commented on #94
That is not being calculated by this module, but retrieved from yahoo.  Is this module reporting the same value as yahoo?  It's possible that instead of a simple average (arithmetic mean) you calculated, that the value is a 10-day moving average or perhaps less likely a geometric mean.

[2021-05-06 17:37] cgbeas commented on #67
You can actually use the following formula and some of the field that are actually provided to calculate Free Cash Flow:
𝐹𝐶𝐹=𝑂𝑝𝑒𝑟𝑎𝑡𝑖𝑛𝑔𝐶𝑎𝑠ℎ𝐹𝑙𝑜𝑤−𝐶𝑎𝑝𝑖𝑡𝑎𝑙𝐸𝑥𝑝𝑒𝑛𝑑𝑖𝑡𝑢𝑟𝑒𝑠

Here is an example of how I'm doing this:

[code]
Hope this helps.

[2021-05-19 04:03] chinobing opened #98 "Convert get_financial_stmts data to pandas DataFrame"
### Sample Code
[code]

[code]
[code]

### output
![image](https://user-images.githubusercontent.com/27722028/118754699-27f87200-b89a-11eb-8254-e0774f3ac490.png)

### Credits:
 -  [ycx - stackoverflow](https://stackoverflow.com/questions/54321290/how-to-convert-list-of-nested-dictionary-to-pandas-dataframe)

[2021-06-12 00:58] formula-x commented on #69
does this use requests or aiohttp? cause this package is extremely slow

[2021-07-06 07:52] m-ali-awan opened #99 "Getting technical Indicators Historic Data for CryptoCurrencies"
Is there any way to get technical data, like Hash-Ribbons, RSI etc for cryptocurrencies?

Thanks

[2021-08-04 08:00] drmfarag commented on #96
Same issue with TSLA, AMZN,...etc

[2021-11-19 20:48] rhotzcvm opened #101 "Max Retries"
I am having an issue with some tickers which do not have data. Current code has a hardcoded 10 retries schedule. It should be set as a parameter, because it can really slow down a batch request.

[2021-11-25 01:02] Slepetys opened #102 "Financials retrieved very different from the Yahoo Finance site"
Hi !
The values retrieved through the module are completely different from what YahooFinance is showing.

[code]

Resulting in the JSON:
[code]

Reference dates showed in the results:
* 2021-09-18
* 2020-09-12
* 2019-09-14
* 2019-09-14 (again)

But, in Yahoo Finance (https://finance.yahoo.com/quote/ABF.L/financials?p=ABF.L) for the same ticker at the same time, the periods, values and rows are ver

[2021-12-13 18:49] hariravi opened #103 "Stock Splits"
Hi All,

This seems to be a new issue, but suddenly when I scrape the data, the prices are no longer adjusting for stock splits (which is strange because as of a few weeks ago stock splits seemed to be taken care of).

For instance, when I call the get_historical_price_data for AAPL from 2020-02-12 to 2020-02-19, the values are as follows (and regardless of whether I used close or adjusted close,

[2021-12-13 19:15] hariravi commented on #103
I'm actually at a bit of a loss, because the apple split was on 2020-08-31 based on 'lastSplitDate', but it seems like the split occurred on 02-18 based on the scraped data ... I think yahoo finance recently made a change/hopefully they fix it.

[2021-12-13 19:23] hariravi commented on #103
Nevermind, it seems like this is a yahoo finance issue, as seen here as well: https://github.com/ranaroussi/yfinance/issues/906

[2021-12-13 19:23] #103 closed

[2022-03-01 21:31] ivanKrasovec commented on #32
I just wanted to check up on this. I have been using YF and it's been functioning well. I have recently tried implementing get_profile_summary(), which returned `AttributeError: 'YahooFinancials' object has no attribute 'get_profile_data'`
Directly implementing get_stock_tech_data('summaryProfile') returns {'ticker' : None}. I would like to automatically pull which sector each stock belongs to. An

[2022-11-22 10:28] emamars95 opened #104 "Financial History"
Dear,
I want to add a comment on your yahoofinancials project. I add my comment here due to git hub does not support private messages anymore.

Would you be interested in integrating, in addition to the yahoo financial statements, the statements provided by the U.S. Securities and Exchange Commission's (EDGAR) database? Instead of only 4 quarters or 4 years, you can find a much better-furnished da